*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrap{
    width: 80%;
    height: 100%;
    margin:auto;
    min-height: 1000px;
    min-width: 1500px;
    display: flex;
    flex-direction: column;
}

header{

    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.nav{
    height: 10%;
    width: 100%;
    margin-bottom: 2px;
    background-color: rgb(68, 100, 16);
}
.content_wrap{
    height: 60%;
    width: 100%;

}
footer{
    height: 10%;
    width: 100%;
}
/*----------------큰구역나누기 끝-------------------------*/

.header_logo_mini{
    width: 40%;
    
}
.header_logo_big{
    width: 60%;
}
.header_logo_mini>a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20%;
}

.nav>ul{
    width: 100%;
    display: flex;
    list-style-type: none;
    padding-left: 10px;

}
ul>li {
    width: 25%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    

}
li>a{
    text-decoration: none;
    color: white;
}
/*----------------------------header , nav 태그 끝------*/
.content_wrap{
    display: flex;
    margin-top: 1%;
}

.content_side{
    width: 20%;
    height: 100%;
    margin-top: 0%;
}
.content_side>img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}

.content_img{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.content_etc{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content_img_top{
    width:100%;
    height: 50%;
    display: flex;
    margin-top: 0%;
  
}
.content_img_bottom{
    width: 100%;
    height: 50%;
    display: flex;
    gap: 5px;

    
}
.content_img_top > div{
    width: 50%;
    height: 100%;
}
.content_img_bottom > div{
    width: 50%;
    height: 100%;
}


.content_login{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.login_form{
    height: 80px;
    width: 100%;
    display: flex;
}
.login_input_wrap{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.login_btn{
    width: 40%;
    height: 100%;

}
.login_input_wrap>input{
    height: 50%;
    width: 100%
}
.login_btn>button{
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.login_etc{
    height: 20%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_etc>a{
    text-align: center;
}


.content_poster{
    height: 60%;
    width: 100%;

}
.content_message{
    height: 20%;
    width: 100%;

}