@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{
    margin: 0; padding: 0;
}/*기본시스템 마진 , 패딩 0 으로초기화*/

div[class=main]{
    background-color: white;
    border: 5px solid white;
   }/*main section의 border를 조정 후  backgroundcolor를 white로 함*/

    .gnb{
        display: flex; 
        background-color: black;
        border: 10px solid black;   
    }/*backgroundcolor를 black으로 한 후 테두리 두께조절*/

    a{
        text-decoration: none; 
        color : white;
        padding-right: 40px;
        font-family: 'stylish',serif;
        /*link의 밑줄을 없애준 후 글씨색깔 white, 오른쪽의 여백을 40씩 준다
        글씨체는 그냥 맘에드는걸로 했다*/
    }
    a:hover{
        border: 5px solid green;
        background-color: green;
    }
    div{
        border: 1px solid gray;
        border-width: 15px;
        /*div부분을 배경색보다 짙은gray색으로하기 + 넓이15px*/
    }
    
    article{
        border: 5px solid white; 
        background-color: white;
        margin: 5px;
        /*각 기사 부분을 테두리의굵기선조정 + 외부간격 5px*/
    }

    .left_section{
        width: 50%;
        border: 1px solid black;
    }/*전체가로의 50%사용*/
    
    .right_section{
        width: 50%;
        border: 1px solid black;
        /*margin-left: 10px;
        gap을 사용했으므로 사용X
        */
    }

    .main_section{
        display: flex;
        justify-content: center;/*가운데 정렬*/
        gap: 10px;/* 사이의 거리*/
    }