 /*css아이콘사용 위함*/
 @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
 *{ margin: 0px;padding: 0px;}

 #sel{ /*캐릭터선택창*/
     border: 5px solid black;
     width: 1500px;
     height: 1500px;
     background-image: url(../img/back.png);
 }
 #level{
    font-size: 60px;
    width: 300px;
   cursor: pointer;

 }

 td>img{ /*캐릭터선택창의 이미지*/
     height: 300px;
 }  
#main{/*캐릭터선택창을 위해 none처리*/
    background-image: url(../img/back.png);
    width: 1300px;
    height: 880px;
    position: absolute;
    display: none;
}
#startAndHuman{/*캐릭터선택창을 위해 none처리*/
    display: none;
}

#ex{
    display: none;
    font-size: 30px;
    width: 1000px;
    height: 500px;
}

 #start{
     border: none;
     cursor: pointer;
     top: 840px;
     left: 400px;
     font-size: 40px;
     position: relative;
     background-color: red;
     color: white;
     border-radius: 15px;
 }
 
 #start:hover{
     font-size:50px;
 }
 #human {
 height: 80px;
 width: 80px;
 top: 795px; 
 border-radius: 20px;
  position: relative;
 }

 i{/*https://fontawesome.com/icons*/
     font-size: 40px;
 }
 i.fa-star{
     color: #FFD43B;
 }

 i.fa-thumbs-up{
     color: #c8a251;
 }
 i.fa-thumbs-down{
     color: #db2956;
 }
 i.fa-wand-magic-sparkles{
     color: #63E6BE;

 }
 i.fa-poo{
     color: #d61f56;
 }
 i.fa-bomb{
     color: red;
 } /*각 아이콘마다 다른색깔*/


 #score{
     color: white;
     text-align: center;
     text-shadow:2px 2px red;
     font-size: 40px;
    
 }
 #gameTime{
     text-align: center;
     font-size: 40px;
     color: red;
     text-shadow:2px 2px white;
     

 }
 #goMain{ /*게임화면으로버튼꾸미기*/
     color: white;
     text-shadow: 3px 5px 8px rgba(0, 0, 0, 0.7);
     background: linear-gradient(45deg, #ff416c, #ff4b2b);
     border: none;
     border-radius: 50px;
     font-size: 50px;
     cursor: pointer;
 }
 #goMain:hover{
     font-size: 60px;
 }
 body{
     background-color: grey;
 } 