*{
    box-sizing: border-box;
}

div , footer{
    border: 1px solid red;
}


.footer{
    display: flex;
    flex-direction: column;
    height: 250px
}
.footer_link{
    height:20%;
    display: flex;
    align-items: center;
}
.footer_link>a{
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    color : black;
}
.footer_info{
    display: flex;
    flex-direction: column;
    height: 80%;
}

.footer_info_company{
    height: 80%;
    list-style-type: '-';
    padding-left: 20px;
    margin-top:5px;
}


.footer_info_copyright{
    height: 20%;
    text-align: center;
    padding: 10px;
}

